# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
bower_components/
web_modules/
.yarn/*

# Build output
dist/
build/
.next
out
.nuxt
.cache
.parcel-cache
.vuepress/dist
.temp
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
build/Release

# Environment variables
.env
.env.*
!.env.example

# Optional caches
.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tsbuildinfo
*.tgz
.yarn-integrity

# IDEs & editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db